.header{
  margin-top: 30px;
}

button{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border-width: 2px;
  box-shadow: none;
  border-color: #3f4245;
  background-color: rgb(92, 210, 92);
}