mat-card{
  margin: 2%;
}

button{
  margin: 3px;
  border-radius: 5px;
  border-width: 2px;
  box-shadow: none;
  border-color: #3f4245;
}

th{
  background-color: #75797d !important;
  color: white;
}