<h2>Contact List</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>First name</th>
            <th>Last name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Phone number</th>
            <th>Country</th>
            <th>City</th>
            <th>Street</th>
            <th>House number</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let contact of contacts">
            <td> {{contact.id}} </td>
            <td> {{contact.firstName}} </td>
            <td> {{contact.lastName}} </td>
            <td> {{contact.email}} </td>
            <td> {{contact.age}} </td>
            <td> {{contact.phoneNumber}} </td>
            <td> {{contact.address.country}} </td>
            <td> {{contact.address.city}} </td>
            <td> {{contact.address.street}} </td>
            <td> {{contact.address.houseNumber}} </td>
            <td>
                <button (click)="updateContact(contact.id)" class="btn btn-info">Update</button>
            </td>
        </tr>
    </tbody>
</table>